                
/* .view {
    background: url(back.png)no-repeat center center;
}
    


@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #4285F4;
    }
} */

body {
    background: url(/assets/back.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }
  #particles-js{
      background-color: #231F20;
      height:100%
  }
  
  .remove{
      color:red;
      background-color:white;
      display: inline-block;
      float:right;
      margin:5px 5px 0 0;
      position: relative;
      top: 0;
      right: 0;
  }
  #upda{
      margin: 10px;
  }
  #upda input{
    margin: 4px;
}
#upda .form-control {
    width:39%
}
  #button1, #edit{
      margin-left: 15px;
  }
  #sear,#search,#button3,#button4{
    margin-left: 15px;

  }
  #button3{
    color: white;display: inline;background-color: dodgerblue;background: url(assets/search.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;

  }
  #edit{
      min-width: 77px;
      /* float: right; */
      margin-left: 62px;
  }
  #button4{
      margin-top:10px;
  }
  #sear{
      background-color: #218838;
      border-radius: 5px;
      padding: 10px;
      margin-top:6px;
  }
  #xx{
    /* background-color:#808285; */
    background-color:#231F20;
    color:white;
    padding:20px;
    border-radius: 5px;
    margin-right: 38px;
  }
  .form-group{
      margin-bottom: 8px;
  }
  
  #xx label{
      /* color:#1A2026; */
      color: white;
  }

  #search{
      width: 10px;
  }
  .hidden{
    display:none;
 }
 .form-radio
{
     -webkit-appearance: none;
     -moz-appearance: none;
     appearance: none;
     display: inline-block;
     position: relative;
     background-color: #D1D3D4;
     color: white;
     top: 10px;
     height: 30px;
     width: 30px;
     border: 0;
     border-radius: 50px;
     cursor: pointer;     
     margin-right: 7px;
     outline: none;
}
.form-radio:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.form-radio:hover
{
     background-color: #414042;
     /* border: 1px solid black */

}
.form-radio:checked
{
     background-color: grey;
}
label
{
     font: 15px/1.7 'Open Sans', sans-serif;
     color: #333;
     -webkit-font-smoothing: antialiased;
     -moz-osx-font-smoothing: grayscale;
     cursor: pointer;
} 

